@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">SupplyPet</h1>
        <h3 class="lead">¡Lo mejor para tu mascota esta Aqui!</h3>
    </section>
</main>

<style>
    .jumbotron {
        padding: 30px;
        background-color: #f8f8f8;
        border-radius: 4px;
        margin-bottom: 30px;
    }

        .jumbotron h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        .jumbotron p.lead {
            font-size: 18px;
            margin-bottom: 20px;
        }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .row {
        margin-bottom: 30px;
    }

    .col-md-4 {
        margin-bottom: 30px;
    }

        .col-md-4 h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .col-md-4 p {
            font-size: 16px;
            margin-bottom: 20px;
        }

    .btn-default {
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        color: #333;
        text-decoration: none;
    }

        .btn-default:hover {
            background-color: #e0e0e0;
            cursor: pointer;
        }
</style>

<div class="row">
    <div class="col-md-4">
        <h2>Alimentación adecuada</h2>
        <p>Proporciona una dieta balanceada y nutritiva a tu mascota con nuestra variedad de productos para mantenerla saludable.</p>
    </div>
    <div class="col-md-4">
        <h2>Ejercicio regular</h2>
        <p>Asegúrate de que tu mascota realice suficiente ejercicio, contamos con muchos productos que te ayudaran a mantener su peso y fortaleza.</p>
    </div>
    <div class="col-md-4">
        <h2>Visitas al veterinario</h2>
        <p>Programa revisiones regulares y citas con nuestra estetica para asegurarte de que tu mascota esté sana y bien cuidada.</p>

    </div>
</div>